<div class="container">
  <div class="col p-3 bg-secondary text-light">
    <div class="card-body">
      <h1>Contacts</h1>
      <h4>Company employees details.</h4>
    </div>
  </div>
</div>

<div class="container col-10">
  <div class="form-floating mt-2 mb-2 ms-1">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Search by name"
      [(ngModel)]="name"
    />
    <label for="floatingInput"> Search by name</label>
  </div>

  <ng-container *ngIf="contacts | filterContacts : 'name' : name as contacts">
    <table class="table table-hover ms-1">
      <thead>
        <tr class="tableHeaders">
          <th scope="col">No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th>phones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.birthday }}</td>
          <td>{{ contact.phones }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
