#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 0.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
}

#footer .credits {
  /* padding-top: 5px; */
  /* text-align: center; */
  font-size: 13px;
  color: #eaebf0;
}
