<app-header></app-header>

<ng-container *ngFor="let customer of customers">
  <ng-container *ngIf="customer.id == id">
    <div class="card" style="width: 18rem">
      <div class="card-header">
        {{ customer.firstName }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ customer.id }} - {{ customer.firstName }}</h5>
        <p class="card-text">price: {{ customer.lastName }}</p>
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- בעת לחיצה ניתוב דרך הקוד ולא דרךHTML  -->
<button class="btn btn-secondary mt-3" (click)="backToCustomers()">Back</button>
