<app-header></app-header>

<ng-container *ngIf="customer.id == id">
  <aside class="profile-card">
    <header>
      <a target="_blank" href="#">
        <img src="assets/images/customer.jfif" class="hoverZoomLink" />
      </a>

      <h1>{{ customer.firstName }} {{ customer.lastName }}</h1>
    </header>

    <div class="profile-bio mt-2">
      <h2 class="mb-3">
        <i class="fa-solid fa-mobile-screen"></i> {{ customer.phone }}
      </h2>
      <h2><i class="fa-solid fa-envelopes-bulk"></i> {{ customer.email }}</h2>
    </div>
    <!-- Routing through the code and not automatically through the HTML -->
    <button class="btn btn-secondary" (click)="backToCustomers()">
      Go Back
    </button>
  </aside>
</ng-container>
