/* @import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap"); */

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

h1 {
  font-family: "Tinos", serif;
  transition: 700ms ease;
}
h1:hover {
  font-variation-settings: "wght" 82;
  letter-spacing: 1rem;
}
h2 {
  font-family: "Tinos", serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

/* Demo login  */
h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  /* letter-spacing: -3px; */
  /* transition: 700ms ease; */
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(167, 163, 117);
  outline: none;
  text-align: center;
}

h6 {
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: rgb(15, 2, 39);
  letter-spacing: 0.5px;
}
