/* Below 1100px -smaller desktops */
@media (max-width: 68em) {
  .form-floating {
    width: 50%;
    display: block;
    margin: auto;
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1rem;
  }
  input {
    font-size: 0.4rem;
    border-radius: 5%;
    background-color: rgba(14, 1, 26, 0.158);
  }
  button {
    font-size: 0.8rem;
  }
}
