<div id="card" class="card container text-dark col-10 my-5">
  <div class="row justify-content-end">
    <div class="card-body">
      <h1>Customers</h1>
      <h4>Company customers details.</h4>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row height d-flex justify-content-center align-items-center">
      <!-- name for the value of the input-->
      <!-- #firstName="ngModel" for validation -->

      <div class="col-lg-3">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Search by first Name"
            name="firstName"
            [(ngModel)]="customer.firstName"
            #firstName="ngModel"
            required
          />

          <label for="floatingInput">
            <i class="fa fa-search"> </i> Search by first Name</label
          >
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Search by last Name"
            name="lastName"
            [(ngModel)]="customer.lastName"
            #lastName="ngModel"
            required
          />
          <label for="floatingInput">
            <i class="fa fa-search"> </i> Search by last Name</label
          >
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Search by phone"
            name="phone"
            [(ngModel)]="customer.phone"
            #phone="ngModel"
            required
          />
          <label for="floatingInput">
            <i class="fa fa-search"> </i> Search by phone</label
          >
        </div>
      </div>

      <div class="col-lg-3">
        <button
          type="button"
          class="btn btn-outline-success mb-3"
          (click)="addCustomer(customer)"
        >
          <i class="fa-solid fa-user-plus"></i>
          Add customer
        </button>
      </div>
    </div>
  </div>
  <!-- [(ngModel)]="customer.firstName": This is the value of the filter -->
  <ng-container
    *ngIf="
      customers
        | filter : 'firstName' : customer.firstName
        | filter : 'lastName' : customer.lastName
        | filter : 'phone' : customer.phone as customers
    "
  >
    <div class="container table-responsive-lg mb-4 mt-1">
      <table
        class="table table-striped table-hover table-bordered text-center table-secondary"
      >
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>

            <!-- Customer Details -->
            <td>
              <!--  <a [routerLink]="['/seriesTable', serie.name]"> -->
              <a [routerLink]="['/customers', customer.id]">
                <i class="fa-solid fa-circle-info"></i>
              </a>
            </td>

            <td>
              <a (click)="updateCustomer(customer)">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
            </td>

            <!-- to delete -->
            <td>
              <a (click)="deleteCustomer(customer)"
                ><i class="fa-solid fa-trash-can"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
