<!-- ======= Mobile nav toggle button ======= -->
<!-- <i class="bi bi-list mobile-nav-toggle d-xl-none"></i> -->

<nav id="sidebar" class="nav-menu navbar">
  <ul class="list-unstyled components mt-5 ms-3">
    <li class="sideNavLink mb-2">
      <a routerLink="customers" routerLinkActive="text-success"
        ><i class="fa-solid fa-people-group pe-2"></i> Customers
      </a>
    </li>
    <li class="sideNavLink mb-2">
      <a routerLink="contacts" routerLinkActive="text-success"
        ><i class="fa-regular fa-address-card pe-2"></i> Contacts</a
      >
    </li>
    <li class="sideNavLink mb-2">
      <a><i class="fa-solid fa-headset pe-2"></i> Leads</a>
    </li>
    <li class="sideNavLink mb-2">
      <a><i class="fa-solid fa-flag pe-2"></i> Reports</a>
    </li>
    <li class="sideNavLink mb-2">
      <a><i class="fa-sharp fa-solid fa-clipboard pe-2"></i> Integration</a>
    </li>
    <li class="sideNavLink mb-2">
      <a><i class="fa-solid fa-money-check-dollar pe-2"></i> Year-end Sale</a>
    </li>
  </ul>
</nav>
<!-- placeholder that Angular dynamically fills based on the current router state. -->
<!-- In the main file and in files with nesting routes: -->
