<div class="area">
  <nav class="main-menu">
    <ul>
      <li class="urderList mt-5 py-2">
        <a routerLink="customers">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Dashboard </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a routerLink="customers" routerLinkActive="text-success">
          <i class="fa fa-people-group fa-2x"></i>
          <span class="nav-text"> Customers </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a routerLink="contacts" routerLinkActive="text-success">
          <i class="fa fa-address-card fa-2x"></i>
          <span class="nav-text"> Contacts </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a>
          <i class="fa fa-headset fa-2x"></i>
          <span class="nav-text"> Leads </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a>
          <i class="fa fa-flag fa-2x"></i>
          <span class="nav-text"> Reports </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a>
          <i class="fa fa-clipboard fa-2x"></i>
          <span class="nav-text"> Integration </span>
        </a>
      </li>
      <li class="has-subnav py-2">
        <a>
          <i class="fa fa-money-check-dollar fa-2x"></i>
          <span class="nav-text"> Year-end Sale </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logOut()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
